@media screen and (max-width:768px) {

    body{
       display: flex;
        flex-direction: column;
    }
    .alert-info, hidden-on-desktop{
        padding: 20px;
        background-color: #ccffff;
        margin: 0 10px;
        border: 2px solid lightgrey;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
       display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        margin-left: 1px;
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .nav-links{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    .nav-links > li > a{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }


    a{
        border:1em;
    }
    .header-img{
        display: flex;
        flex-direction: column;
    }
    .main{
        display: flex;
        flex-direction: column;
    }

    .sub-section{
        display: flex;
        flex-direction: column;
    }

    .nav-links li:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: #ccc;
        margin-left: -40px;
        margin-bottom: 1em;
        padding: 1em;
    }
    .nav-links li:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: #ccc;
        margin-left: -40px;
        margin-bottom: 1em;
        padding: 1em;
    }
    .nav-links li:nth-child(3){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: #ccc;
        margin-left: -40px;
        margin-bottom: 1em;
        padding: 1em;
    }
    .nav-links li:nth-child(4){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: #ccc;
        margin-left: -40px;
        margin-bottom: 1em;
        padding: 1em;
    }
}
@media screen and (min-width:780px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    body {
        display: flex;
        flex-direction: column;
        margin: 3em;
    }
    .hidden-on-desktop{
        display: none;
    }
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        margin-bottom: 1px;
        margin-top: 5px;
    }
    .nav-links{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        float: right;
    }
    .side-by-side{
        display: flex;
        margin-bottom: 2em;
    }
    h1, .nav-links{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin-right: auto;
    }
    li{
        padding-right: 10px;
        display: inline-block;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    img{
        width: 100%;
    }
    footer{
        padding-top: 4em;
    }
}
